* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background: linear-gradient(to bottom, rgb(68, 170, 85), #fff)no-repeat;
    min-height: 100vh;
    display:grid;
    width: 100%;
}
.main{
    width: 100%;
    margin: 0;
    bottom: 0;
    height: 100%;
}
.pokemon__cards{
    position: relative;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 335px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    min-width: 180px;
    margin: 2px;
}
.plano{
    position: absolute;
    width: 100%;
    border-radius: 15px;
    left: 0%;
    height: 100%;
}

.pokemon__image{
    position: absolute;
    bottom: 50%;
    left: 20%;
    width: 50%;
    text-align: center;
}

.pokemon__name{
    position: absolute;
    bottom: 89%;
    right: 10%;
    font-size: 20px;
}

.pokemon__id{
    position: absolute;
    bottom: 89.5%;
    left: 20%;
}

.pokemon__tipo{
    position: absolute;
    bottom: 39%;
    left: 40%;
}

.pokemon__hp{
    position: absolute;
    bottom: 30%;
    left: 10%;
}

.pokemon__atk{
    position: absolute;
    bottom: 22%;
    left: 10%;
}

.pokemon__def{
    position: absolute;
    bottom: 14%;
    left: 10%;
}
.form{
    position: fixed;
    top: 95%;
    left: 30%;
    width: 50%;
}
